Note: in order to work well, i recommend to use the following settings

------------------------------
* MySQL Settings

MySQL Server v5.7
MySQL Workbench v8.0

charset - utf8mb4
collation - ut8mb4_0900
------------------------------
* XAMPP

PHP 7+
------------------------------
* Composer
------------------------------
* phpmailer 5.2.22
------------------------------
* slim 2.0
------------------------------
* raintpl 3.0.0